@import url("/menu.css");
@import url("/addform.css");
@import url("/loverslist.css");
@import url("/lovername.css");
@import url("/addform.css");
@import url("/deleteloverform.css");
@import url("/loginform.css");
@import url("/postcommentform.css");
@import url("index.css");
@import url("/deletecommentform.css");

h1 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 500;
  color: #343a40;
  text-align: center;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #343a40;
  background-color: #f8f9fa;
}

.filterlovers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
}

.filterlovers h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.filterlovers form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filterlovers input[type="text"] {
  padding: 8px 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
}

.filterlovers input[type="text"]:focus {
  outline: none;
  border-color: #007bff;
}

.filterlovers button {
  padding: 8px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.filterlovers button:hover {
  background-color: green;
}

.filterlovers button:focus {
  outline: none;
}
